<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxFAhEim2HzvGhJdN8QtXNi3h925-9QPA</string>
	<key>GCM_SENDER_ID</key>
	<string>549178539079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.biomarcadores</string>
	<key>PROJECT_ID</key>
	<string>biomarcadores-5182a</string>
	<key>STORAGE_BUCKET</key>
	<string>biomarcadores-5182a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549178539079:ios:caed7dbbb2376d45b3c562</string>
</dict>
</plist>